<h1>Converter tipo (int, float, date e str)  </h1>
<br>
<i>
• Importar biblioteca pandas <br>
• Importar um arquivo Excel<br>
• Converter a coluna <b> ID</b> para <b> Int</b> <br>
• Converter a coluna <b> Porcentagem</b> para <b> Float</b> <br>
• Converter a coluna <b> Data</b> para <b> Date</b> <br>
• Criar Coluna Ano, Mês e Dia<br>
    
</i>

In [11]:
import pandas as pd
dataset = pd.read_excel('converter.xlsx', sheet_name='Data')

display(dataset.head(4))

print('Linhas e Colunas')
dataset.shape

     ID Porcentagem         Data
0  i-01           1  D01/01/2020
1  i-02         0.3  D03/04/2020
2  i-03         0.4  D04/05/2020
3  i-04           1  D02/07/2020

Linhas e Colunas

(11, 3)

In [12]:
dataset.dtypes

ID             object
Porcentagem    object
Data           object
dtype: object

<h3> Converter o ID em inteiro </h3>
<br>
<i>
• Primeiro remover todos caracteres da coluna ID<br>
    
</i>

In [13]:
#Substituir i- da coluna ID
dataset = dataset.replace('i-','', regex=True)

#Converter ID em int
dataset['ID'] = dataset['ID'].astype('int64')

#verificar se ID foi convertido
dataset.dtypes

ID              int64
Porcentagem    object
Data           object
dtype: object

<h3> Converter Porcentagem em Float </h3>
<br>
<i>
• Encontrar o que tem de errado na coluna Porcentagem <br>
• Segundo remover todos caracteres da coluna Porcentagem<br>
    
</i>

In [14]:
# Verificado que existe uma string na coluna: '#'

dataset['Porcentagem'].value_counts()

1       2
#       1
0.1     1
0.8     1
0.99    1
0.44    1
0.12    1
0.2     1
0.4     1
0.3     1
Name: Porcentagem, dtype: int64

In [15]:
#Substituir #  da coluna Porcentagem por 0
dataset = dataset.replace('#',0, regex=True)

#Converter Porcentagem em float
dataset['Porcentagem'] = dataset['Porcentagem'].astype('float64')

#verificar se Porcentagem foi convertido
dataset.dtypes

ID               int64
Porcentagem    float64
Data            object
dtype: object

<h3> Converter o Data em date </h3>
<br>
<i>
• Primeiro remover todos caracteres da coluna Data<br>
    
</i>

In [16]:
#Substituir D na coluna Data
dataset['Data'] = dataset['Data'].replace('D','', regex=True)

#Converter Data em date
dataset['Data'] = pd.to_datetime(dataset['Data'])

#verificar se Data foi convertido
dataset.dtypes

ID                      int64
Porcentagem           float64
Data           datetime64[ns]
dtype: object

<h3> Criar Coluna Ano, Mês e Dia </h3>

In [18]:
#Coluna ANO
dataset['Ano'] = pd.to_datetime(dataset['Data']).dt.strftime('%Y')

#Coluna Mês
dataset['Mês'] = pd.to_datetime(dataset['Data']).dt.strftime('%m')

#Coluna Mês
dataset['Dia'] = pd.to_datetime(dataset['Data']).dt.strftime('%d')

#Coluna Mês/Ano
dataset['Mes/Ano'] = pd.to_datetime(dataset['Data']).dt.strftime('%m/%Y')


dataset

    ID  Porcentagem       Data   Ano Mês Dia  Mes/Ano
0    1         1.00 2020-01-01  2020  01  01  01/2020
1    2         0.30 2020-03-04  2020  03  04  03/2020
2    3         0.40 2020-04-05  2020  04  05  04/2020
3    4         1.00 2020-02-07  2020  02  07  02/2020
4    5         0.20 2020-11-11  2020  11  11  11/2020
5    6         0.10 2021-02-07  2021  02  07  02/2021
6    7         0.12 2021-11-11  2021  11  11  11/2021
7    8         0.44 2022-02-02  2022  02  02  02/2022
8    9         0.99 2022-10-13  2022  10  13  10/2022
9   10         0.80 2023-10-10  2023  10  10  10/2023
10  11         0.00 2023-11-03  2023  11  03  11/2023

In [24]:
dataset['Ano'] = pd.to_datetime(dataset['Ano'])
dataset['Mês'] = dataset['Mês'].astype('int64')
dataset['Dia'] = dataset['Mês'].astype('int64')
dataset['Mes/Ano'] = pd.to_datetime(dataset['Mes/Ano'])

dataset.dtypes

ID                      int64
Porcentagem           float64
Data           datetime64[ns]
Ano            datetime64[ns]
Mês                     int64
Dia                     int64
Mes/Ano        datetime64[ns]
dtype: object