<h1> <center>Operação Matemática </center> </h1>

<h3> <i>• Importar Documento Excel</i> </h3>

In [33]:
import pandas as pd
dataset = pd.read_excel('Média_Mediana.xlsx')
display(dataset)

   ColunaA  ColunaB  ColunaC
0        1        7       10
1        2        7       10
2        3        9       10
3        4        8       10
4        5        8       10

<h3> <i>• Desvio Padrão</i> </h3>

In [34]:
#Desvio Padrão da Coluna A
dataset['ColunaA'].std()

1.5811388300841898

<h3> <i>• Média  </i> </h3>

In [35]:
#Média Coluna B
dataset['ColunaB'].mean()

7.8

<h3> <i>• Variância </i> </h3>

In [36]:
# Variância coluna A
dataset['ColunaA'].var()

2.5

<h3> <i>• Mediana </i> </h3>

In [37]:
#Mediana Coluna B
dataset['ColunaB'].median()

8.0

<h3> <i>• Moda </i> </h3>

In [38]:
# Moda, valores que mais se repetem
dataset['ColunaB'].mode()

0    7
1    8
dtype: int64

<h3> <i>• Quantil </i> </h3>

In [39]:
# Quantil de 25%.... mas poderia colocar qualquer valor
dataset['ColunaB'].quantile(0.25)

7.0

In [40]:
dataset.describe()

        ColunaA  ColunaB  ColunaC
count  5.000000  5.00000      5.0
mean   3.000000  7.80000     10.0
std    1.581139  0.83666      0.0
min    1.000000  7.00000     10.0
25%    2.000000  7.00000     10.0
50%    3.000000  8.00000     10.0
75%    4.000000  8.00000     10.0
max    5.000000  9.00000     10.0